@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style */

.nav-list,
.navbar,
.circle,
.hero-actions,
.spotify,
.subscribe-msg {
  display: flex;
}

/* navbar related style */
.bg-color {
  background: #1a0b2e;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.navbar {
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 32px;
}
.logo-text {
  font-size: 1.8rem;
  font-weight: 700;
  color: #ffffff;
}

.logo-text span {
  background: linear-gradient(90deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-list {
  list-style: none;
  gap: 32px;
}

.nav-link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
}
.nav-link:hover {
  color: #d9d9dc;
}

.subscribe-btn,
.spotify {
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  padding: 13px 16px;
  border: none;
  border-radius: 10000px;
  background: linear-gradient(135deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  cursor: pointer;

  transition: transform 0.2s ease;
}
.subscribe-btn:hover,
.spotify:hover,
.subscribe-msg:hover {
  transform: translateY(-2px);
}

.hamburger {
  display: none;
}

/* hero section related style */
.hero {
  background: url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 120px 20px 100px;
  position: relative;
  overflow: hidden;
}
.hero-content {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.circle {
  width: 350px;
  height: 350px;
  margin: 0 auto 32px;
  position: relative;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.circle-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.mic-img {
  width: 116px;
  z-index: 2;
}
.badge {
  position: absolute;
  top: 10px;
  right: 25px;
  background: #00ff88;
  color: #1a0b2e;
  font-size: 1.12rem;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 1000px;
  box-shadow: 0 3px 24px 0 #00ff88;
}

.hero h1 {
  font-size: 3.75rem;
  font-weight: 800;
  color: #ffffff;
  margin-top: 40px;
  margin-bottom: 8px;
}
.hero p {
  max-width: 550px;
  margin: 0 auto 24px;
  font-size: 1rem;
  font-weight: 400;
  color: #a4a4a4;
}

.hero-actions {
  justify-content: center;
  gap: 8px;
}

.spotify {
  align-items: center;
  gap: 5px;
}

.subscribe-msg {
  align-items: center;
  gap: 5px;
  padding: 12px 22px;
  border-radius: 10000px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  color: #00ff88;
  background: transparent;
  border: 1px solid #00ff88;
}

.spotify img,
.subscribe-msg img {
  width: 18px;
}

/* About The Podcast Related Style */
.about {
  padding: 50px 200px 120px 200px;
  background: #1a0b2e;
}
.about-container {
  max-width: 1200px;
  margin: 0 auto;
}
.about-text {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.about-text h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 16px;
}
.about-text p {
  font-size: 1rem;
  font-weight: 400;
  color: #a4a2a2;
  line-height: 20px;
  margin-bottom: 40px;
}
.about hr {
  margin: 80px auto;
  border: none;
  height: 1px;
  max-width: 1200px;
  background: rgba(255, 255, 255, 0.15);
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
  text-align: center;
}
.stat-item h3 {
  font-size: 3rem;
  font-weight: 800;
  color: #00ff88;
  margin-bottom: 12px;
}
.stat-item span {
  font-size: 1rem;
  font-weight: 400;
  color: #a4a2a2;
}
@media screen and (max-width: 576px) {
  .nav-list {
    display: none;
  }
  .subscribe-btn {
    display: none;
  }
  .hamburger {
    display: block;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
  }
  .navbar {
    padding: 16px 20px;
  }

  .hero {
    padding: 40px 20px 40px;
  }
  .circle {
    width: 250px;
    height: 250px;
    padding-top: 40px;
  }
  .mic-img {
    width: 80px;
  }
  .badge {
    top: 30px;
    right: -5px;
    font-size: 1rem;
    padding: 8px 16px;
  }
  .hero h1 {
    font-size: 2rem;
  }
  .hero p {
    font-size: 0.875rem;
    padding: 0 10px;
  }
}
