@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style */

.nav-list,
.navbar,
.circle,
.hero-actions,
.spotify,
.subscribe-msg {
  display: flex;
}

.nav-link:hover,
.platform:hover {
  color: #d9d9dc;
}

/* navbar related style */
.bg-color {
  background: #1a0b2e;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.navbar {
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 32px;
}
.logo-text {
  font-size: 1.8rem;
  font-weight: 700;
  color: #ffffff;
}

.logo-text span {
  background: linear-gradient(90deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-list {
  list-style: none;
  gap: 32px;
}

.nav-link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
}

.subscribe-btn,
.spotify {
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  padding: 13px 16px;
  border: none;
  border-radius: 10000px;
  background: linear-gradient(135deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  cursor: pointer;

  transition: transform 0.2s ease;
}
.subscribe-btn:hover,
.spotify:hover,
.subscribe-msg:hover {
  transform: translateY(-2px);
}

.hamburger {
  display: none;
}

/* hero section related style */
.hero {
  background: url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 120px 20px 100px;
  position: relative;
  overflow: hidden;
}
.hero-content {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.circle {
  width: 350px;
  height: 350px;
  margin: 0 auto 32px;
  position: relative;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.circle-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.mic-img {
  width: 116px;
  z-index: 2;
}
.badge {
  position: absolute;
  top: 10px;
  right: 25px;
  background: #00ff88;
  color: #1a0b2e;
  font-size: 1.12rem;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 1000px;
  box-shadow: 0 3px 24px 0 #00ff88;
}

.hero h1 {
  font-size: 3.75rem;
  font-weight: 800;
  color: #ffffff;
  margin-top: 40px;
  margin-bottom: 8px;
}
.hero p {
  max-width: 550px;
  margin: 0 auto 24px;
  font-size: 1rem;
  font-weight: 400;
  color: #a4a4a4;
}

.hero-actions {
  justify-content: center;
  gap: 8px;
}

.spotify {
  align-items: center;
  gap: 5px;
}

.subscribe-msg {
  align-items: center;
  gap: 5px;
  padding: 12px 22px;
  border-radius: 10000px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  color: #00ff88;
  background: transparent;
  border: 1px solid #00ff88;
}

.spotify img,
.subscribe-msg img {
  width: 18px;
}

/* About The Podcast Related Style */
.about {
  padding: 50px 200px 120px 200px;
  background: #1a0b2e;
}
.about-container {
  max-width: 1200px;
  margin: 0 auto;
}
.about-text {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.about-text h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 16px;
}
.about-text p {
  font-size: 1rem;
  font-weight: 400;
  color: #a4a2a2;
  line-height: 20px;
  margin-bottom: 40px;
}
.about hr {
  margin: 80px auto;
  border: none;
  height: 1px;
  max-width: 1200px;
  background: rgba(255, 255, 255, 0.15);
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
  text-align: center;
}
.stat-item h3 {
  font-size: 3rem;
  font-weight: 800;
  color: #00ff88;
  margin-bottom: 12px;
}
.stat-item span {
  font-size: 1rem;
  font-weight: 400;
  color: #a4a2a2;
}

/* why choose techWave relates style */
.why-choose {
  padding: 120px 200px;
  background: #230e3d;
}
.why-container {
  max-width: 1200px;
  margin: 0 auto;
}
.why-title {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
}

.why-all-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto auto;
  gap: 24px;
}
.why-card {
  background: #351165;
  border-radius: 40px;
  padding: 28px;
}
.why-card img {
  width: 50px;
  height: 50px;
}
.why-card h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  margin: 16px 0;
}
.why-card p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  color: #9e9898;
}
.card-audio {
  padding-top: 80px;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
.card-mobile {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}
.card-global {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}
.card-exclusive {
  grid-column: 1/3;
  grid-row: 3/4;
}

/* Feature episode related style */
.featured {
  padding: 120px 200px;
  background: #1a0b2e;
}
.featured-container {
  max-width: 1200px;
  margin: 0 auto;
}
.section-title,
.host h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
}
.all-episode {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.episode-card {
  background: #250d44;
  border-radius: 16px;
  overflow: hidden;
}
.episode-video {
  position: relative;
}
.episode-video iframe {
  width: 380px;
  height: 214px;
}
.episode-content {
  padding: 20px;
}
.episode-content h3 {
  font-size: 1.3rem;
  color: #ffffff;
  margin-bottom: 12px;
}
.episode-content p {
  font-size: 1rem;
  color: #bfb9b9;
  line-height: 24px;
  margin-bottom: 16px;
}
.duration {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1rem;
  font-weight: 600;
  color: #00ff88;
}
.duration img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.host {
  margin-top: 120px;
}
.host-card {
  display: flex;
  align-items: center;
  padding: 40px;
  gap: 24px;
  border-radius: 40px;
  background: #250d44;
}
.host-img img {
  width: 200px;
  height: 200px;
}
.host-content h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 16px;
}
.host-content p {
  font-size: 1rem;
  color: #bcb9b9;
  line-height: 24px;
  margin-bottom: 16px;
}
.host-socials {
  display: flex;
  gap: 9px;
}
.host-socials a {
  width: 50px;
  height: 50px;
  border: 1px solid #533c72;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.host-socials img {
  width: 20px;
  height: 20px;
}

/* Footer related styles */
.footer {
  background: url(../assets/footer-bg.png) no-repeat;
  background-size: cover;
  padding: 80px 20px;
  text-align: center;
}
.footer-content {
  max-width: 1000px;
  margin: 0 auto;
}
.footer-logo {
  font-size: 4.5rem;
  margin-bottom: 32px;
}
.footer-platforms {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 32px;
  flex-wrap: wrap;
}
.platform {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  color: #b8b8b8;
  cursor: pointer;
}
.platform img {
  width: 24px;
  height: 24px;
}
.footer-content p {
  font-size: 1rem;
  color: #b8b8b8;
}

@media screen and (max-width: 576px) {
  /* navbar */
  .nav-list {
    display: none;
  }
  .subscribe-btn {
    display: none;
  }
  .hamburger {
    display: block;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
  }
  .navbar {
    padding: 16px 20px;
  }
/* hero/banner */
  .hero {
    padding: 40px 20px 40px;
  }
  .circle {
    width: 250px;
    height: 250px;
    padding-top: 40px;
  }
  .mic-img {
    width: 80px;
  }
  .badge {
    top: 30px;
    right: -5px;
    font-size: 1rem;
    padding: 8px 16px;
  }
  .hero h1 {
    font-size: 2rem;
  }
  .hero p {
    font-size: 0.875rem;
    padding: 0 10px;
  }
/* about */
  .about {
    padding: 40px 20px;
  }
  .about-text h2 {
    font-size: 2.43rem;
  }
  .about-text p {
    margin-bottom: 20px;
  }
  .about hr {
    margin: 40px auto;
  }
  .stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
/* why choose techWave */
  .why-choose {
    padding: 40px 20px;
  }
  .why-title {
    font-size: 2rem;
    margin-bottom: 16px;
  }
  .why-all-cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
  .card-audio,
  .card-mobile,
  .card-global,
  .card-exclusive {
    grid-column: auto;
    grid-row: auto;
  }
/* featured */
  .featured {
    padding: 40px 20px;
  }
  .all-episode {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .section-title,
  .host h2 {
    font-size: 2rem;
    margin-bottom: 24px;
  }
  .episode-content h3 {
    font-size: 1.25rem;
    margin-bottom: 8px;
  }
  .duration {
    font-size: 1rem;
    margin-top: 8px;
  }
  .episode-video {
    position: relative;
  }
  .episode-video iframe {
    width: 100%;
    height: 250px;
  }
  /* host */
  .host {
    margin-top: 60px;
  }
  .host-card {
    flex-direction: column;
    text-align: center;
    padding: 20px 20px;
  }
  .host-socials {
    justify-content: center;
  }
  /* footer */
  .footer {
    padding: 60px 16px;
    text-align: center;
    background-size: 150% 100%;
    background-position: center;
  }
  .footer-logo {
    font-size: 3rem;
    margin-bottom: 24px;
  }
  .footer-platforms {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 16px 24px;
    width: fit-content;
    margin: 0 auto 24px auto;
    margin-bottom: 24px;
  }
  .platform {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.75);
  }
  .platform img {
    width: 18px;
    height: 18px;
  }
  .footer-copy {
    font-size: 0.8rem;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.7);
    
  }
}
